<html>
  <head>
    <title>開発環境構成情報</title>
  </head>
  <body>
    <table border="1">
      <thead>
        <tr>
          <th>環境名</th>
          <th>申請者</th>
          <th>申請日</th>
          <th>更新日</th>
          <th>利用用途</th>
          <th>マスタータグ</th>
          <th>マスターブランチ名</th>
          <th>アプリブランチ名</th>
          <th>サーバURL</th>
        </tr>
      </thead>
      <tbody>
        <% configures.each{ config -> %>
          <tr>
            <td><%= config.common.env %></td>
            <td><%= config.common.request_user %></td>
            <td><%= config.common.request_datetime %></td>
            <td><%= config.common.update_datetime %></td>
            <td><%= config.common.reason %></td>
            <td>
              <% config.update_data.master_tags.each { master_tag -> %>
                <%= master_tag %> </br>
              <% } %>
            </td>
            <td><%= config.update_data.branch %></td>
            <td><%= config.deploy_app.branch %></td>
            <td>https://<%= config.provisioning.cname %>/</td>
          </tr>
        <%} %>
      </tbody>
    </table>
  </body>
</html>