
===========================================
開発環境削除の申請
===========================================
申請ID: <%= uuid %>
申請者： <%= request_user %>
申請日時： <%= request_datetime %>
環境名： <%= target_env %>


<<%= approval_link %>|承認>



<<%= refusal_link %>|拒否>