===========================================
新規払い出しの申請
===========================================
申請ID: <%= uuid %>
申請者： <%= request_user %>
申請日時： <%= request_datetime %>
環境名： <%= target_env %>
ブランチ名： <%= branch %>

▼マスターデータのタグ
<%= master_tags %>

▼利用用途
<%= reason %>


<<%= approval_link %>|承認>



<<%= refusal_link %>|拒否>