===========================================
新規開発環境払い出し完了
===========================================
申請ID: <%= uuid %>
申請者： <%= request_user %>
申請日時： <%= request_datetime %>
環境名： <%= target_env %>
ブランチ名： <%= branch %>