===========================================
エラー
===========================================

実行者： <%= user_name %>
ジョブ番号： <%= job_number %>
ジョブ名： <%= job_name %>

<%= error_message %>


<<%= job_url %>|実行詳細画面へ>